<div class="clearfix nav-container margin-tb-auto margin-lr-auto padding-tb-2">
    <ul class="list-reset left clearfix align-middl footer-set font-basic">
      <li class="inline-block margin-r-2 align-middle">
        <a class="link-primary" href="https://www.facebook.com/profile.php?id=100003271842966">facebook</a>
      </li>
      <li class="inline-block margin-r-2 align-middle">
        <a class="link-primary" href="https://www.instagram.com/{{ site.social_username }}">Instagram</a>
      </li>
      <li class="inline-block margin-r-2 align-middle">
        <a class="link-primary" href="https://www.behance.net/{{ site.behance_username }}">behance</a>
      </li>
      <li class="inline-block margin-r-2 align-middle">
        <a class="link-primary" href="https://dribbble.com/{{ site.drb_username }}">dribbble</a>
      </li>
    </ul>

    </span>
  </div>
  