<header
  class="clearfix nav-container margin-tb-auto margin-lr-auto padding-tb-2"
>
  <!-- {% unless page.homepage == true %} -->
  <div class="left header-set">
    <a class="font-basic f-p-1 align-middle link-primary" href="/">
      {{ site.title }}
    </a>
  </div>
  {% endunless %}
  <div class="right">
    <ul class="list-reset header-set font-basic">
      <li class="inline-block">
        <a
          class="align-middle margin-r-2 link-primary {% if page.category == 'record' %}active{% endif %}"
          href="/record"
          >Record</a
        >
        <a
          class="align-middle link-primary {% if page.category == 'project-side' %}active{% endif %}"
          href="/project-side"
          >Project</a
        >
      </li>
    </ul>
  </div>
</header>
