<div class="container margin-tb-auto margin-lr-auto padding-tb-2">
  <div class="container">
    <h1 class="font-dmst textcenter  contents-anim">Hello!</h1>
    <h1 class="font-dmst textcenter inline-block  contents-anim-b">I Like</h1>
    <div class="badge right inline-block margin-l-2 contents-anim-d"></div>
    <h1
      class="font-dmst textright margin-l-2 contents-anim-b indexhover-a indexhover-b"
    >
      all kinds of
    </h1>
    <h1 class="font-dmst textcenter contents-anim-c">Design.</h1>

    <!-- 여기서부터 애니메이션 요소 -->
    <!-- 
    <div class="circle-area-a">
      <ul class="circle-a contents-anim-circle-a">
        <li></li>
      </ul>
    </div>

    <div class="circle-area-b">
      <ul class="circle-b contents-anim-circle-b">
        <li></li>
      </ul>
    </div> -->

    <div class="circle-area-c">
      <ul class="circle-c contents-anim-circle-c">
        <li></li>
      </ul>
    </div>

    <!-- <div class="circle-area-d">
      <ul class="circle-d contents-anim-circle-d">
        <li></li>
      </ul>
    </div>

    <div class="circle-area-e">
      <ul class="circle-e contents-anim-circle-e">
        <li></li>
      </ul>
    </div>

    <div class="circle-area-f">
      <ul class="circle-f contents-anim-circle-f">
        <li></li>
      </ul>
    </div>

    <div class="circle-area-g">
      <ul class="circle-g contents-anim-circle-g">
        <li></li>
      </ul>
    </div> -->

    <div class="circle-area-h">
      <ul class="circle-h contents-anim-circle-h">
        <li></li>
      </ul>
    </div>

    <!-- 여기까지 애니메이션 요소 -->
  </div>
</div>
