<!DOCTYPE html>

<!-- Project 리스트  -->

<div class="contents-anim margin-b-4">
  <a class="block link-image" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.thum_image %} {% include post_list_thum.html %} {% endif %}
  </a>
  <div class="margin-t-1">
    <p class="right sm-width-full project-date margin-b-0">
      {{ post.date | date: "%b %-d, %Y" }}
    </p>

    <a class="posttitle con-area-75">
      <a
        class="link-primary f-p-1"
        title="{{ post.url | prepend: site.baseurl }}"
        href="{{ post.url | prepend: site.baseurl }}"
        >{{ post.title }}</a
      >
    </a>

    <p class="con-area-75 margin-t-1">
      {{ post.content | strip_html | truncatewords:24 }}
    </p>
  </div>
</div>
