<!DOCTYPE html>

<!-- Record 리스트  -->

<div
  class="con-area-50 left sm-width-full padding-rl-1 margin-b-4 contents-anim"
>
  <a class="block link-image" href="{{ project.permalink }}">
    <div class="aspect-ratio ar-4x3">
      <img
        srcset="/assets/img/{{ project.project_image }}-540px.jpg 540w,
                  /assets/img/{{ project.project_image }}-1000px.jpg 1000w,
                  "
        sizes="(max-width: 560px) 100vw, 50vw"
        src="/assets/img/{{ project.project_image }}-540px.jpg"
        alt="{{ project.title }}"
        class="ar-object border-radius"
      />
    </div>
  </a>

  <div class="margin-t-1">
    <a class="link-primary con-area-75 f-p-1 " href="{{ project.permalink }}"
      >{{ project.title }}</a
    >
  </div>
</div>
