// --------------------------------------------------
// --------------------------------------------------
// 스타일 전부 리셋
* {
  box-sizing: border-box !important;
  margin: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  font-family: $menu-font-family;
  font-size: $prose-font-size;
  letter-spacing: $display-spacing-df;
}

// --------------------------------------------------
// --------------------------------------------------
// 스타일 기본

body {
  font-family: $basic-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  // background-color: $white;
  line-height: 1.5;
  color: $color-contents;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-weight: 600;
}

p {
  font-family: $basic-font-family;
  font-size: $body-font-size;
  margin-top: 0em;
  margin-bottom: 0.5em;
  color: $color-contents;
  letter-spacing: -0.005em;
}

i,
em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $basic-font-family;
  margin-top: 0em;
  color: $color-title;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

// // --------------------------------------------------
// // --------------------------------------------------
// // index 시작
// .flex {
//   display: flex;
// }

// .flex-column {
//   flex-direction: column;
// }

// .vh-set {
//   height: 60vh;
//   // min-height: 400px;
// }

// // --------------------------------------------------
// // --------------------------------------------------
// 컨텐츠 link
.write-info {
  a {
    transition: all 0.2s ease-in-out;
    background-position: 0% 100%, 110% 90%, 0% 98%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 2px 1px, 2px 1px, 1px 1px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
      linear-gradient($color-link, $color-link);
  }

  a:hover {
    color: $color-link;
    text-decoration-color: $color-link;
  }
}

// // --------------------------------------------------
// // --------------------------------------------------
//hover

.link-primary {
  // text-decoration: none;
  // border-spacing: 50%;
  // border-bottom: 2px solid transparent;
  // border-radius: 1px;
  transition: ease-in-out 0.2s;

  &:hover,
  &:active {
    // text-decoration: none;
    // border-bottom-color: $black-point;
    opacity: 0.8;
  }
}

.active {
  color: $color-link;
}

// Image as a link
.link-image {
  img {
    transition: all 0.2s ease-out;
  }
  img:hover {
    opacity: 0.8;
  }
}

//settest
