@import "variables";

/* container */

.nav-container {
  max-width: $container-width-df;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}
.container {
  max-width: $container-width-df;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}
.container-record {
  max-width: $container-width-record;
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

.container-test {
  max-width: 48em;
}

/* Padding */

.padding-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-tb-1 {
  padding-top: $spacer-1;
  padding-bottom: $spacer-1;
}

.padding-rl-1 {
  padding-left: $spacer-1;
  padding-right: $spacer-1;
}

.padding-tb-2 {
  padding-top: $spacer-2;
  padding-bottom: $spacer-2;
}

.padding-rl-2 {
  padding-left: $spacer-2;
  padding-right: $spacer-2;
}

.padding-tb-3 {
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
}

.padding-tb-3 {
  padding-top: $spacer-3;
  padding-bottom: $spacer-3;
}

.padding-rl-3 {
  padding-left: $spacer-3;
  padding-right: $spacer-3;
}

.padding-tb-4 {
  padding-top: $spacer-4;
  padding-bottom: $spacer-4;
}

/* Margin */

.margin-tb-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.margin-t-0 {
  margin-top: 0;
}
.margin-r-0 {
  margin-right: 0;
}
.margin-l-0 {
  margin-left: 0;
}
.margin-b-0 {
  margin-bottom: 0;
}

.margin-t-1 {
  margin-top: $spacer-1;
}
.margin-r-1 {
  margin-right: $spacer-1;
}
.margin-l-1 {
  margin-left: $spacer-1;
}
.margin-b-1 {
  margin-bottom: $spacer-1;
}

.margin-t-2 {
  margin-top: $spacer-2;
}
.margin-r-2 {
  margin-right: $spacer-2;
}
.margin-l-2 {
  margin-left: $spacer-2;
}
.margin-b-2 {
  margin-bottom: $spacer-2;
}

.margin-t-3 {
  margin-top: $spacer-3;
}
.margin-r-3 {
  margin-right: $spacer-3;
}
.margin-l-3 {
  margin-left: $spacer-3;
}
.margin-b-3 {
  margin-bottom: $spacer-3;
}

.margin-t-4 {
  margin-top: $spacer-4;
}
.margin-r-4 {
  margin-right: $spacer-4;
}
.margin-l-4 {
  margin-left: $spacer-4;
}
.margin-b-4 {
  margin-bottom: $spacer-4;
}

.margin-t-4-5 {
  margin-top: $spacer-4-5;
}
.margin-r-4-5 {
  margin-right: $spacer-4-5;
}
.margin-l-4-5 {
  margin-left: $spacer-4-5;
}
.margin-b-4-5 {
  margin-bottom: $spacer-4-5;
}

// --------------------------------------------------
// --------------------------------------------------
// // *Header&Footer 기본 set*

.left {
  float: left;
}
.right {
  float: right;
}
.fixed {
  position: fixed;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.left-0 {
  left: 0;
}

.inline-block {
  display: inline-block !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.align-middle {
  vertical-align: middle;
}

// // --------------------------------------------------
// // --------------------------------------------------
//이미지 썸네일

.aspect-ratio {
  height: 0;
  position: relative;
}

.block {
  display: block !important;
}

.ar-1x1 {
  padding-bottom: 100%;
}
.ar-16x9 {
  padding-bottom: 56.25%;
}
.ar-4x3 {
  padding-bottom: 75%;
}

.border-radius {
  border-radius: $spacer / 4;
}

.ar-object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.image-record-con {
  width: 100%;
  height: 100%;
}

.con-area-90 {
  width: (10 / 12 * 100%);
}
.con-area-75 {
  width: (9 / 12 * 100%);
}
.con-area-50 {
  width: (6 / 12 * 100%);
}

//--------------------------------------------------
// --------------------------------------------------
//상세

.tag-color {
  background-color: $grey-s;
  border-radius: $spacer-1 / 4;
  color: $color-sub;
}

.tag-font {
  font-size: $font-sub-p4;
  text-transform: uppercase;
}

.tag-margin-rl {
  padding-left: $spacer-1;
  padding-right: $spacer-1;
}

//--------------------------------------------------
// --------------------------------------------------
//index 페이지 시작 Css애니메이션

.contents-anim {
  animation-name: speed;
  animation-duration: 1s;
}

@keyframes speed {
  0% {
    opacity: 0.5;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contents-anim-b {
  animation-name: speedb;
  animation-duration: 1.2s;
}

@keyframes speedb {
  0% {
    opacity: 0.5;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contents-anim-c {
  animation-name: speedc;
  animation-duration: 1.4s;
}

@keyframes speedc {
  0% {
    opacity: 0.5;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contents-anim-d {
  animation-name: speedd;
  animation-duration: 1.1s;
}

@keyframes speedd {
  0% {
    opacity: 0.5;
    transform: translateY(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

//--------------------------------------------------
// --------------------------------------------------
//Index

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.vh-100 {
  height: 100vh;
  min-height: 500px;
}

.badge {
  position: relative;
  vertical-align: top;
  width: 12px;
  height: 12px;
  background-color: $point;
  top: $spacer-1;
  border-radius: 100%;
  padding: $spacer-1 / 4;

  @media (min-width: $desktop-md) {
    top: $spacer-2;
    padding: $spacer-1 / 2;
  }
}

.indexhover-a {
  cursor: pointer;

  &:hover {
    transition: 0.2s;
    color: $point;
  }
}

.textcenter {
  text-align: center;
  font-size: 5em;
}

.textright {
  float: right;
  font-size: 5em;
}

// background animation 시작점
// 애니메이션 노가다 C

.contents-anim-circle-c {
  animation-name: circlec;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes circlec {
  0% {
    opacity: 0;

    transform: translateY(110px) translateX(100px) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}

.circle-area-c {
  top: 26%;
  left: 30%;
  width: 5%;
  height: 10%;
  z-index: -1;

  animation: floatC 6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
  position: absolute;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes floatC {
  0% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateY(-50px) translateX(50px) translateZ(50px);
  }
}

.circle-c {
  position: absolute;
  margin: 0 auto;
}

.circle-c li {
  transform-origin: top left;
  list-style: none;
  width: 16px;
  height: 16px;
  border-radius: 30%;
  background: $point;

  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(-13deg) skewX(0deg);
  pointer-events: none;
}

.indexhover-a:hover ~ .circle-area-c li {
  transition: 2.2s;
  transform: scale(1.5) rotateZ(120deg);
  border-radius: 100%;
}

// 애니메이션 노가다 H

.contents-anim-circle-h {
  animation-name: circleh;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes circleh {
  0% {
    opacity: 0;

    transform: translateY(-10px) translateX(-50px) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(20) rotate(-24deg);
  }
}

.circle-area-h {
  bottom: 24%;
  right: 30%;
  width: 5%;
  height: 10%;
  z-index: -1;

  animation: floatH 6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite alternate;
  position: absolute;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes floatH {
  0% {
    transform: translateZ(20px);
  }
  100% {
    transform: translateY(50px) translateX(-40px) translateZ(-50px);
  }
}

.circle-h {
  position: absolute;
  margin: 0 auto;
}

.circle-h li {
  transform-origin: bottom left;
  list-style: none;
  width: 18px;
  height: 18px;
  border-radius: 30%;
  background: $point;

  transition: transform 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(60deg) skewX(0deg);
  pointer-events: none;
}

.indexhover-a:hover ~ .circle-area-h li {
  transition: 2s;
  transform: scale(1) rotateZ(-120deg);
  border-radius: 100%;
}

//여기까지

//--------------------------------------------------
// --------------------------------------------------
//미디어쿼리

@media (max-width: $desktop-lg) {
  .main-img-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    height: 68vh;
  }

  .textcenter {
    font-size: 4em;
  }

  .textright {
    font-size: 4em;

    .margin-l-2 {
      margin-left: $spacer-1;
    }
  }
}

@media (max-width: $desktop-md) {
  .sm-width-full {
    width: 100% !important;
  }

  .container-record {
    .padding-rl-1 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .header-set,
  .footer-set {
    font-size: $font-sub-p3;
  }

  .container {
    .margin-l-2 {
      margin-left: $spacer-1;
    }
  }

  .main-img-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160%;
    height: 65vh;
  }

  .textcenter {
    font-size: 2.5em;
  }

  .textright {
    font-size: 2.5em;
  }

  .container {
    .margin-l-2 {
      margin-left: $spacer-1;
    }
  }

  .container-test {
    padding-left: $spacer-1;
    padding-right: $spacer-1;
  }

  .vh-100 {
    height: 95vh;
    min-height: 400px;
  }
}

@media (max-width: 520px) {
  .textcenter {
    font-size: 2em;
  }

  .textright {
    font-size: 2em;
  }

  .container {
    .margin-l-2 {
      margin-left: $spacer-1;
    }
  }

  .badge {
    position: relative;
    vertical-align: top;
    width: 8px;
    height: 8px;
    background-color: $point;
    top: $spacer-1;
    border-radius: 100%;
    padding: $spacer-1 / 4;
  }
}

@media (max-width: $mobile) {
  .textcenter {
    font-size: 1.8em;
  }

  .textright {
    font-size: 1.8em;
  }

  .container {
    .margin-l-2 {
      margin-left: $spacer-1;
    }
  }

  .badge {
    width: 6px;
    height: 6px;
  }

  .margin-t-4-5 {
    margin-top: $spacer-4;
  }

  .con-area-90 {
    width: 90%;
  }
}
