// --------------------------------------------------
// Font 기본 SET

.font-dmst {
  font-family: $menu-font-family;
  letter-spacing: $display-spacing-sm;
}
.font-basic {
  font-family: $basic-font-family;
  letter-spacing: $display-spacing-san-df;
}
.f-tit-1 {
  font-size: $font-sub-h1;
}
.f-tit-2 {
  font-size: $font-sub-h2;
}
.f-tit-3 {
  font-size: $font-sub-h3;
}

.f-p-1,
.f-p-2,
.f-p-3,
.f-p-4 {
  word-wrap: break-word;
}

.f-p-1 {
  font-size: $font-sub-p1;
}
.f-p-2 {
  font-size: $font-sub-p2;
}
.f-p-3 {
  font-size: $font-sub-p3;
}
.f-p-4 {
  font-size: $font-sub-p4;
}

.post-st-title h1,
h2 {
  font-weight: 300;
  margin-bottom: $spacer-1;
  margin-top: $spacer-5-5;
  color: $black-con-title;
}

.post-st-title p {
  color: $black-con-title;
  line-height: 1.8em;
  font-size: $body-font-size;
}

.post-st-title img + em {
  display: block;
  text-align: center;
  font-size: $font-sub-p3;

  color: $color-sub;
  margin-top: 4px;
  margin-bottom: $spacer-5;
}

// // --------------------------------------------------
// //리스트 페이지의 상단 카피라이트

.project-date {
  font-size: $font-sub-p3;
  text-transform: uppercase;
  color: $color-sub;
}

@media (max-width: $desktop-md) {
  .f-p-1 {
    font-size: $font-sub-p3;
  }

  .f-tit-2 {
    font-size: 2.5rem;
  }

  .post-st-title h1 {
    font-size: $font-sub-h3;
    margin-bottom: $spacer-2;
    margin-top: $spacer-4;
  }

  .post-st-title h2 {
    font-size: $font-sub-p1;
    margin-bottom: $spacer-1;
    margin-top: $spacer-4;
  }

  .post-st-title p {
    font-size: $font-sub-p3;
  }
}
