// --------------------------------------------------
// --------------------------------------------------
// Spacing
$spacer: 8px !default;

// Spacing scale
$spacer-1: $spacer !default; // 8px
$spacer-2: ($spacer * 2) !default; // 16px
$spacer-3: ($spacer * 3) !default; // 24px
$spacer-4: ($spacer * 4) !default; // 32px
$spacer-4-5: ($spacer * 7.25) !default; //58px
$spacer-5: ($spacer * 8) !default; // 64px
$spacer-5-5: ($spacer * 10) !default; // 80px
$spacer-6: ($spacer * 15) !default; // 120px
$spacer-7: ($spacer * 45) !default; // 360px
$spacer-8: ($spacer * 60) !default; // 480px

// --------------------------------------------------
// --------------------------------------------------
// Desktop View
// 16px 기준 : 1800px
$desktop-xxlg: 112.5em;
// 16px 기준 : 1600px
$desktop-xlg: 100em;
// 16px 기준 : 1500px
$desktop-mlg: 95em;
// 16px 기준: 1280px
$desktop-lg: 80em;
// 16px 기준: 1024px
$desktop-df: 64em;
// 16px 기준: 640px
$desktop-md: 40em;

// Mobile view
$mobile: 24em;
//16px 기준 : 384px
// --------------------------------------------------
// --------------------------------------------------
// Container
// 16px 기준: 1200px
$container-width: 75em;
// 16px 기준: 1000px
$container-width-df: 62.5em;
// 16px 기준: 1016px
$container-width-record: 63.5em;
// 16px 기준: 860px
$container-width-md: 53.75em;
// 16px 기준: 640px
$container-width-mds: 40em;
// 16px 기준: 344px
$container-width-sm: 21.5em;

// --------------------------------------------------
// --------------------------------------------------
