@charset "utf-8";

// --------------------------------------------------
// --------------------------------------------------
// Color

$black: #04101c;
$black-point: #06121f;
$black-con-title: #333333;
$point: #0051bc;
$grey-l: #515151;
$grey-m: #b8b8b8;
$grey-s: #e0e0e0;
$white: #fff;

$color-background: $white !default;
$color-title: $black !default;
$color-contents: $black-point !default;
$color-sub: $grey-l !default;
$color-accent: $point !default;
$color-link: $point !default;

// --------------------------------------------------
// --------------------------------------------------
// font

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text|Noto+Sans+KR|Noto+Sans:700&display=swap");
@font-face {
  font-family: "CircularPro";
  src: url("/assets/font/CircularPro-Medium.otf");
}
@font-face {
  font-family: "NewYorkLarge-Bold";
  src: url("/assets/font/NewYorkLarge-Bold.otf");
}

$menu-font-family: "NewYorkLarge-Bold", serif;
$basic-font-family: "CircularPro", "Noto Sans KR", sans-serif;

//Typo
$body-font-weight: normal;
$body-font-size: 18px;
$prose-font-size: 20px;

$font-head: 6rem !default; // 96px
$font-title: 5rem !default; // 80px

$font-sub-h1: 4rem !default; // 64px
$font-sub-h2: 3rem !default; // 48px
$font-sub-h3: 2rem !default; // 32px
$font-sub-p1: 1.5rem !default; // 24px
$font-sub-p2: 1.25rem !default; // 20px
$font-sub-p3: 1rem !default; // 16px
$font-sub-p4: 0.75rem !default; // 12px

$display-spacing-df: 0.5px;
$display-spacing-san-df: 0px;
$display-spacing-sm: -1px;

// --------------------------------------------------
// --------------------------------------------------

@import "base", "layout", "variables", "typoset";
